<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/modules.css">

  <title>SHOW RESULTS</title>
</head>

<header>
  <nav>
    <ul>
      <li><a href="/searches/new">Search for New Book</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/searches/show">Show</a></li>
    </ul>
  </nav>
</header>

  <body>
    <h1>DETAIL VIEW</h1>

    <%- include ('detail.ejs') %>

  </body>

</html>