<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/modules.css">

  <title>SEARCH</title>

</head>

  <body>
    <form action="" method="">
      <fieldset>
        <legend>Book Searching</legend>

        <label for="userSearch"></label>
        <input type="text" name="userSearch">

        <label for="author">Author</label>
        <input type="radio" id="author" name="userSearch">

        <label for="title">Title</label>
        <input type="radio" id="title" name="userSearch">

        <label for="subject">Subject</label>
        <input type="radio" id="subject" name="userSearch">

        <input type="submit" name="userSearch" id="submit" value="Search the Google Books API">
      </fieldset>
    </form>
  </body>

</html>